* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background: radial-gradient(circle at 50%, #000000, #6d6d6d);
    /* Updated gradient */
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: bold;
}

nav ul li a {
    padding: 10px 20px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.5s;
}

nav ul li a:hover {
    color: #ffffff;
    border-radius: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    color: #000000;
}

.container {
    max-width: 1300px;
    margin: 0%;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 80%;
    align-items: right;
    margin-right: 50%;
    padding: 50px 0;
}

.col-2 img:hover {
    transform: scale(1.05);
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    align-items: right(50%);
    padding: 20px 0px;
    margin: 50px 0;
}

.btn {
    display: inline-block;
    background: #000000;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 100px;
    margin-top: 30px;
    text-decoration: none;
    transition: background 0.5s;
}

.btn:hover {
    background: #ffffff;
    color: #000000;
    transition: 0.5s;
}

.header {
    background: radial-gradient(circle at 50%, #000000, #6d6d6d)
}

.hearder .row {
    margin-top: 70px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 300px;
    margin-bottom: 30px;
}

.fresh {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.fresh :hover {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.col-3 img {
    max-width: 100%;
    border-radius: 50px;
    padding: 20px 0;
}

.col-3:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.small-container {
    max-width: 1300px;
    margin: 0 auto;
}

.col-4 {
    flex-basis: 25%;
    min-width: 300px;
    margin-bottom: 30px;
    padding: 10px;
    transition: transform 0.5s;
}

.col-4 img {
    max-width: 100%;
    border-radius: 50px;
    padding: 20px 0;
}